# [] - Array,list
# () - Tuple
# {} - Dictionary

# ---------------------
#         List

In [9]:
list1 = ['Hi']
list2 = [' Tarun']

In [10]:
list1.append('Sir')

In [11]:
print(list1)

['Hi', 'Sir']

In [12]:
listfinal = list1 + list2
print(listfinal)

['Hi', 'Sir', ' Tarun']

In [19]:
sort1 = ['hi','abc','zas']
sort = [12,1,8]

sort.sort()
print(sort)

sort1.sort()
print(sort1)

#sort data will be stored if we sort() func

In [20]:
# sort data will not be stored if we use sorted() func the original data remains intact

new_sort = sorted(sort)
print(new_sort)
print(sort)

[1, 8, 12]
[12, 1, 8]

In [21]:
sort = [12,1,8]

print(1 in sort)

True

In [22]:
print(11 not in sort)

True

In [23]:
print(1 not in sort)

False

In [67]:
Data_science = ['R','Python','Hadoop','Spark']
price = [40,56,70.2,40,100,20]

print('SAS' in Data_science)
print('Spark' in Data_science)
print('Spark' not in Data_science)
print(40 in price)
print(40 not in price)
print(70.2 in price)

False
True
False
True
False
True

In [68]:
for Sub in Data_science:
    print(Sub)

R
Python
Hadoop
Spark

In [69]:
len(price)

6

In [70]:
min(price)

20

In [71]:
max(price)

100

In [72]:
#sort, max, min data structures wont work on list which contains diff type of data types

num = [40,56,70.2,'Tarun',100,20]
print(num)
sort(num)
min(num)
max(num)

[40, 56, 70.2, 'Tarun', 100, 20]

TypeError: 'list' object is not callable

In [77]:
price.clear()

#print(price)

[]

In [82]:
data = ['Hi',12,'Hello',123,'Hola',1234]
new_data = data.copy() # doesnt share any memory so the data is changed only in new list

print(data)
print(new_data)

new_data.append('Oye')
print(data)
print(new_data)

['Hi', 12, 'Hello', 123, 'Hola', 1234]
['Hi', 12, 'Hello', 123, 'Hola', 1234]
['Hi', 12, 'Hello', 123, 'Hola', 1234]
['Hi', 12, 'Hello', 123, 'Hola', 1234, 'Oye']

In [83]:
data = ['Hi',12,'Hello',123,'Hola',1234]
new_data = data   #refering the data, they are sharing memory so if the data is changed in one it changes in other viceversa

print(data)
print(new_data)

new_data.append('Oye')
print(data)
print(new_data)

['Hi', 12, 'Hello', 123, 'Hola', 1234]
['Hi', 12, 'Hello', 123, 'Hola', 1234]
['Hi', 12, 'Hello', 123, 'Hola', 1234, 'Oye']
['Hi', 12, 'Hello', 123, 'Hola', 1234, 'Oye']

In [88]:
Products = ["Dairy","Bakery","Grocery","Clothing","Bakery","Dairy","Cosmetics"]
Products.count('Bakery')

2

In [89]:
len(Products)

7

In [107]:
Data_science = ['R','Python','Hadoop','Spark']
price = [40,56,70.2,40,100,20]

Data_science.extend(price)
print(Data_science)
print(price)

['R', 'Python', 'Hadoop', 'Spark', 40, 56, 70.2, 40, 100, 20]
[40, 56, 70.2, 40, 100, 20]

In [108]:
Data_science.index(40)

4

In [109]:
Data_science.insert(2 , 50)
print(Data_science)

['R', 'Python', 50, 'Hadoop', 'Spark', 40, 56, 70.2, 40, 100, 20]

In [110]:
Data_science.index(40)

5

# Tuple

In [111]:
# Tuples are immutable
# they are represented in ()

In [114]:
items = ('Tea','Coffee','Sugar','Milk','Bread',5,5,15,22,30)
print(items)
type(items)

('Tea', 'Coffee', 'Sugar', 'Milk', 'Bread', 5, 5, 15, 22, 30)

tuple

In [115]:
items = 'Tea','Coffee','Sugar','Milk','Bread',5,5,15,22,30
print(items)
type(items)

('Tea', 'Coffee', 'Sugar', 'Milk', 'Bread', 5, 5, 15, 22, 30)

tuple

In [122]:
items = (5,5,15,22,30)
print(sorted(items))
print(sorted(items , reverse = True))

[5, 5, 15, 22, 30]
[30, 22, 15, 5, 5]

In [125]:
order = ("Pizza","Cola")
n = 5
n_order = order*n
n_order

('Pizza',
 'Cola',
 'Pizza',
 'Cola',
 'Pizza',
 'Cola',
 'Pizza',
 'Cola',
 'Pizza',
 'Cola')

In [126]:
items = 'Tea','Coffee','Sugar','Milk','Bread',5,5,15,22,30
order = ("Pizza","Cola")

n = items+order
n

('Tea', 'Coffee', 'Sugar', 'Milk', 'Bread', 5, 5, 15, 22, 30, 'Pizza', 'Cola')

In [133]:
print("Cola" in items)

False

In [132]:
print("Cola" not in items)

True

In [131]:
print("Cola" in order)

True

In [134]:
items = 'Tea','Coffee','Sugar','Milk','Bread',5,5,15,22,30

for i in items:
    print(i)

Tea
Coffee
Sugar
Milk
Bread
5
5
15
22
30

In [135]:
len(items)

10

In [137]:
items = 5,5,15,22,30

max(items)

30

In [138]:
min(items)

5

In [144]:
items = (5,5,15,22,30,[1,2,3])
items

(5, 5, 15, 22, 30, [1, 2, 3])

In [145]:
items[5].append(4)
items

(5, 5, 15, 22, 30, [1, 2, 3, 4])

In [150]:
twist = "can you can a can as a canner can i can"

word_count={}

for word in twist.split():
    if word not in word_count:
        word_count[word] = 1
    else:
        word_count[word] += 1
print(word_count)

{'can': 5, 'you': 1, 'a': 2, 'as': 1, 'canner': 1, 'i': 1}

In [151]:
from collections import defaultdict

twist = "can you can a can as a canner can i can"

word_count=defaultdict(int)

for word in twist.split():
    word_count[word] += 1
print(word_count)

defaultdict(<class 'int'>, {'can': 5, 'you': 1, 'a': 2, 'as': 1, 'canner': 1, 'i': 1})

# Dict

In [152]:
items = {"sanitizer" : 3, "mask" : 5}

type(items)

dict

In [154]:
items.keys()

dict_keys(['sanitizer', 'mask'])

In [155]:
items.values()

dict_values([3, 5])

In [156]:
items.items()

dict_items([('sanitizer', 3), ('mask', 5)])

In [157]:
items.get("mask")

5

In [159]:
print("Quantity of sanitizer is : ", items.get("mask"))
print("Quantity of sanitizer is : ", items.get("Glass"))

Quantity of sanitizer is :  5
Quantity of sanitizer is :  None

In [162]:
tup = ('order_id','cust_id','amount')

dict1 = dict.fromkeys(tup)

print(dict1)  #dict cannot be represented without either key or value so the missing one will be mentioned as NONE"

{'order_id': None, 'cust_id': None, 'amount': None}

In [173]:
tup = ('order_id','cust_id','amount')

dict1 = dict.fromkeys(tup,5) # 5 will be given as default values for all keys

print(dict1)

{'order_id': 5, 'cust_id': 5, 'amount': 5}

In [174]:
tup = {'order_id':5,'cust_id':5,'amount':5}

tup['order_id'] = 4
tup

{'order_id': 4, 'cust_id': 5, 'amount': 5}

In [175]:
del tup['amount']
tup

{'order_id': 4, 'cust_id': 5}

In [178]:
#converting list into dict

sort1 = ['hi','abc','zas']
sort = [12,1,8]

dictionary = dict(zip(sort1,sort))
dictionary

{'hi': 12, 'abc': 1, 'zas': 8}