# List

In [3]:
num = []
for i in range(1,11):
    num.append(i*i)
print(num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
num=[i*i for i in range(1,11) if i<4]
print(num)

[1, 4, 9]

In [9]:
item = [1,2.5,4,6.5,10,15]
for i in item:
    print(i*2)

2
5.0
8
13.0
20
30

In [14]:
item = [1,2.5,4,6.5,10,15]
res = [ i*2 for i in item]
print(res)
type(res)

[2, 5.0, 8, 13.0, 20, 30]

list

In [2]:
item = ["Hi","Hello","Hola"]
first=[i[0] for i in item]
first

['H', 'H', 'H']

In [4]:
text = "Hi i am tarun i am 23 year old"

number = [int(i) for i in text.split() if i.isdigit()==True]

number

[23]

In [112]:
text = "Hi i am tarun i am 23 year old"

vowel = [i for i in text if i in 'aeiouAEIOU']
vowel

['i', 'i', 'a', 'a', 'u', 'i', 'a', 'e', 'a', 'o']

In [3]:
Products = ["Apparels","cockaries","cosmetics","Detergents"]
Discount = [10 if p=="Apparels" else 20 if p=="cockaries" else 30 for p in Products]
Discount

[10, 20, 30, 30]

In [11]:
Products = ["Apparels","crokaries","cosmetics","Beverages","Detergents"]
for i in Products:
    i = len(i)
    if i > 9:
        print(i)

10

# Fucnctions

In [12]:
def printhel():
    print("Hello")

In [13]:
printhel()

Hello

In [21]:
def greet(name):
    print("Hello ", name, "! Welcome")

In [23]:
name = input("Enter ur name: ")
greet(name)

Enter ur name: Tarun
Hello  Tarun ! Welcome

In [30]:
def add(n1,n2):
    res=n1+n2
    return(res)

sum = add(15,25)
print("The sum is ",sum)

The sum is  40

In [32]:
#return value is not mentioned

def add(n1,n2):
    res=n1+n2
    return

sum = add(15,25)
print("The sum is ",sum)

The sum is  None

In [40]:
def arg(n1,n2):
    print("First number is :",n1)
    print("Second number is :",n2)

In [41]:
arg(15,20)

First number is : 15
Second number is : 20

### calling func by passing 2 values

In [44]:
n1 = 5
n2 = 6
arg(n2,n1)

First number is : 6
Second number is : 5

In [46]:
def printhel():
    print("Hello")

printhel("Hi")

TypeError: printhel() takes 0 positional arguments but 1 was given

In [48]:
greet('Tarun')

Hello  Tarun ! Welcome

In [49]:
greet(name="Tejas")

Hello  Tejas ! Welcome

### Positional parameters

### Keyword parameters

In [50]:
#Positional parameters

#vlookup(Search_val,range,col_ind,approx/exact)


#Keyword parameters

#vlookup(col_ind=6,approx/exact=False,Search_val="Manager",range=A1:Z20)

In [63]:
def Emp(Name,Designation):
    print("Name:",Name)
    print("Designation:",Designation)

#positional parameters
Emp("Tarun","Manager")

Emp("Analyst","Tejas")

#keyword parameters
Emp(Designation="Analyst",Name="Tejas")

Name: Tarun
Designation: Manager
Name: Analyst
Designation: Tejas
Name: Tejas
Designation: Analyst

### Default parameters

In [67]:
# Default parameters

def Emp(Name,salary=40000):
    print("Name:",Name)
    print("salary:",salary)
    
Emp("Tarun")
Emp("Tarun",75000)

Name: Tarun
salary: 40000
Name: Tarun
salary: 75000

### Variable lenght arg

In [80]:
def add(*num):
    result = 0
    for i in num:
        result = result + i
    print(result)
    
add(1,5,6)
add(1,2,3,4,5,6)

12
21

### variable lenght keyword arg

In [85]:
def Em(**details):
    print(type(details))
    for k,v in details.items():
        print(k,"-->",v)
        
Em(Name="Tarun",Salary=60000,Designation="Data Scientist")

<class 'dict'>
Name --> Tarun
Salary --> 60000
Designation --> Data Scientist

# Lambda Func/Anonymous func

In [88]:
greater = lambda n1,n2 : n1 if n1>n2 else n2
greater(5,2)

5

In [89]:
greater(2,5)

5

In [92]:
# user defined

def greater(n1,n2):
    if n1>n2:
        return n1
    else:
        return n2

In [91]:
greater(2,5)

5

## Map

In [3]:
num_list = list(range(1,11))
square_list = list(map(lambda x : x**2, num_list))
square_list

[<function __main__.<lambda>(x)>, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

## Filter

In [2]:
num_list = list(range(1,11))
ft_list = list(filter(lambda x : x % 2==0, num_list))
ft_list

[2, 4, 6, 8, 10]

## Reduce

In [4]:
from functools import reduce
num_list = [1,2,3,4,5]

reduce(lambda a,b : a*b , num_list)

120

In [5]:
tup = (1,15,20,-3000,8,900)

reduce(lambda x,y : x if x<y else y, tup)

-3000