In [5]:
import pandas as pd

age = pd.Series([11,22,33,44,55])
age

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [6]:
import pandas as pd
import numpy as np

age2 = pd.Series(np.array([11,22,33,44,55]))
age2

0    11
1    22
2    33
3    44
4    55
dtype: int32

In [8]:
import pandas as pd
import numpy as np

age3 = pd.Series(np.array([11,22,33,44,55]),index = np.arange(0,10,2))
age3

0    11
2    22
4    33
6    44
8    55
dtype: int32

In [11]:
import pandas as pd
import numpy as np

age4 = pd.Series(np.array([11,22,33,44,55]),index = ['A1','A2','A3','A4','A5'])
age4

A1    11
A2    22
A3    33
A4    44
A5    55
dtype: int32

In [14]:
prod_dict = {"Apple" : 25 , "Orange" : 30, "Mango": 40, "Banana": 20}

prod_Series = pd.Series(prod_dict)
prod_Series

Apple     25
Orange    30
Mango     40
Banana    20
dtype: int64

In [23]:
class_dict = { "A" : ["English","Hindi","Kannada"] , "B" : ["Social", "Science"], "C" : "Maths"}
class_Series = pd.Series(class_dict)

print(class_Series,"\n")
print(class_Series.index,"\n")
print(class_Series.values)

A    [English, Hindi, Kannada]
B            [Social, Science]
C                        Maths
dtype: object

Index(['A', 'B', 'C'], dtype='object')

[list(['English', 'Hindi', 'Kannada']) list(['Social', 'Science']) 'Maths']

## Accessing series elements

In [49]:
prod_dict = ("A1B1" , "A2B2", "A3B3", "A4B4")

prod_Series = pd.Series(prod_dict)
print(prod_Series[1:3])

1    A2B2
2    A3B3
dtype: object

In [50]:
class_dict = { "A" : ["English","Hindi","Kannada"] , "B" : ["Social", "Science"], "C" : "Maths"}
class_Series = pd.Series(class_dict)

print(class_Series,"\n")

print(class_Series["A"])

A    [English, Hindi, Kannada]
B            [Social, Science]
C                        Maths
dtype: object

['English', 'Hindi', 'Kannada']

In [51]:
print(class_Series[["A","B"]])

A    [English, Hindi, Kannada]
B            [Social, Science]
dtype: object

## Filtering series

In [52]:
student_series = pd.Series(np.array([450,129,313,414,215]),index=["Tarun","Tejas","Manish","Nayan","Tanu"])

student_series[student_series>300]

Tarun     450
Manish    313
Nayan     414
dtype: int32

## Arithmetic operations

In [55]:
arr = np.array([11,22,33,44,55])   # multiplication using (*) operator
age2 = pd.Series(arr)
age2*20

0     220
1     440
2     660
3     880
4    1100
dtype: int32

In [57]:
MRP = pd.Series([12,15,17])       #multiply() method
Quantity = pd.Series([10,20,30])

total_amt = pd.Series(MRP.multiply(Quantity))
total_amt

0    120
1    300
2    510
dtype: int64

In [58]:
MRP = pd.Series([12,15,17])
Quantity = pd.Series([10,20,30])

total_amt = MRP + Quantity
total_amt

0    22
1    35
2    47
dtype: int64

In [60]:
MRP = pd.Series([120,150,170])  #One value is missing in 2nd list so we get NaN
Quantity = pd.Series([10,20])

total_amt = MRP + Quantity
total_amt

0    130.0
1    170.0
2      NaN
dtype: float64

## Series Ranking and Sorting

In [81]:
Score_array = np.array([121,21,153,214,115,116,237,118,219,120])
score=pd.Series(Score_array)
score.rank()

0     6.0
1     1.0
2     7.0
3     8.0
4     2.0
5     3.0
6    10.0
7     4.0
8     9.0
9     5.0
dtype: float64

In [82]:
Score_array1 = np.array([121,np.nan,153,214,115,116,np.nan,118,219,120])
score1=pd.Series(Score_array1)
score1.sort_values(ascending = True,na_position='last')  #or first

4    115.0
5    116.0
7    118.0
9    120.0
0    121.0
2    153.0
3    214.0
8    219.0
1      NaN
6      NaN
dtype: float64

In [91]:
Score_array2 = np.array([121,np.nan,153,214,115,116,np.nan,118,219,120])
score2=pd.Series(Score_array2,index=[110,101,100,104,102,105,107,108,103,106])
print(score2)

score2.sort_index(ascending = True)

110    121.0
101      NaN
100    153.0
104    214.0
102    115.0
105    116.0
107      NaN
108    118.0
103    219.0
106    120.0
dtype: float64

100    153.0
101      NaN
102    115.0
103    219.0
104    214.0
105    116.0
106    120.0
107      NaN
108    118.0
110    121.0
dtype: float64

## Checking Null values

In [93]:
Score_array2 = pd.Series([121,np.nan,153,214,115,116,np.nan,118,219,120])

Score_array2.isnull()

0    False
1     True
2    False
3    False
4    False
5    False
6     True
7    False
8    False
9    False
dtype: bool

In [95]:
Score_array2.notnull()

0     True
1    False
2     True
3     True
4     True
5     True
6    False
7     True
8     True
9     True
dtype: bool

## Concatenate Series

In [105]:
class1 = np.linspace(start = 0, stop = 20, num = 11)
class2 = np.linspace(1,21,11)

class1_series = pd.Series(class1)
class2_series = pd.Series(class2)

pd.concat([class1_series,class2_series])

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
0      1.0
1      3.0
2      5.0
3      7.0
4      9.0
5     11.0
6     13.0
7     15.0
8     17.0
9     19.0
10    21.0
dtype: float64

In [106]:
#Hierarchical index and label the index

pd.concat([class1_series,class2_series] , keys=['Even','Odd'], names = ['Category','Index'])

Category  Index
Even      0         0.0
          1         2.0
          2         4.0
          3         6.0
          4         8.0
          5        10.0
          6        12.0
          7        14.0
          8        16.0
          9        18.0
          10       20.0
Odd       0         1.0
          1         3.0
          2         5.0
          3         7.0
          4         9.0
          5        11.0
          6        13.0
          7        15.0
          8        17.0
          9        19.0
          10       21.0
dtype: float64

In [107]:
class1_series.append(class2_series)

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
0      1.0
1      3.0
2      5.0
3      7.0
4      9.0
5     11.0
6     13.0
7     15.0
8     17.0
9     19.0
10    21.0
dtype: float64

In [108]:
class1_series.append(class2_series,ignore_index=True)

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
11     1.0
12     3.0
13     5.0
14     7.0
15     9.0
16    11.0
17    13.0
18    15.0
19    17.0
20    19.0
21    21.0
dtype: float64