In [46]:
print ('Hello')

Hello

In [47]:
a=1.2 #float
x=20  #int
print(type(z))
y = 'Hi'  #char/string
z = True  #boolean

<class 'bool'>

In [50]:
if y=='Hello' or a==1.2:
    x=x+1
    y=y+' World'
print(x)
print(y)

23
Hi World World World

In [52]:
a=10
a=11
a=12
print(a)

12

In [54]:
name=("Tarun")
org_name=name
print(org_name)

Tarun

In [63]:
tarun=tejas=vathsa=50
print('Total obtained marks by Tarun - ',tarun)
print('Total obtained marks by vathsa - ',vathsa)
print('Total obtained marks by Tejas - ',tejas)

Total obtained marks by Tarun -  50
Total obtained marks by vathsa -  50
Total obtained marks by Tejas -  50

In [65]:
tarun,tejas,vathsa=50,48,45
print('Total obtained marks by Tarun - ',tarun)
print('Total obtained marks by vathsa - ',vathsa)
print('Total obtained marks by Tejas - ',tejas)

Total obtained marks by Tarun -  50
Total obtained marks by vathsa -  45
Total obtained marks by Tejas -  48

In [66]:
x=4*6

In [67]:
x

24

In [74]:
P = 125
T = 1.5
R = 6

Simple_int = (P*T*R)/100

print(Simple_int)

11.25

## primitive data types are string,boolean,int,float,numeric

## collection data types are list,tuple,dict,set

In [10]:
char = 'character'

print(char)

type(char)

character

str

In [80]:
int = 5 

print (int)

type(int)

5

int

In [81]:
float = 1.250

print(float)

type(float)

1.25

float

In [83]:
a = True

print(a)

type(a)

True

bool

In [1]:
a=10
b='20'
result=a+int(b)
result

30

In [5]:
a = 5
b = '5.5'
print(type(b))
float_f = a + float(b)
print(type(b))
float_f
typetype(float_f)

<class 'str'>
<class 'str'>

float

In [9]:
print(type(a))
print(type(b))

c = a*float(b)
c
type(c)

<class 'int'>
<class 'str'>

float

# Type of casting
# int()
# float()
# str()
# bool()

In [11]:
Name = input("Enter your name")
print("Welcome ",Name)

Enter your nameTarun
Welcome  Tarun

In [19]:
a = 'India '
b =  3
c = a * b
print(c)

India India India